#meter-container {
  display: flex;
  justify-content: center;
  align-items: center;
    #buttons {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      align-items: start;
      > :not(:last-child) {
        margin-bottom: 10px;
      }
  }
}

h1 {
    margin-top: 0;
}
