#meter-container {
  display: flex;
  justify-content: center;
  align-items: center;
    #controls {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      align-items: start;
      > :not(:last-child) {
        margin-bottom: 10px;
      }
      #angle {
        display: inline-block;
      }
  }
}

h1 {
    margin-top: 0;
}

#wind-arrow {
    background-color: lightblue;
      /* image-rendering: pixelated; */
}
